body {
      padding: 0px;
      margin: 0px;
}

ul {
      list-style: none;
      margin: 0;
      padding: 0;
}

.wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;
}

.main {
      display: flex;
      flex: 1;
      overflow: hidden;
}

.main .sidebar {
      flex: 0 0 200px;
      background-color: aqua;
}
.main .content {
      display: flex;
      flex: 1;
      flex-direction: column;
      background-color: bisque;
}

.main .content .navigation {
      height: 46px;
      flex: 0 0 46px;
      border-bottom: solid 1px var(--line-default-color);
      display: flex;
      align-items: center;
      -webkit-app-region: drag;
      background-color: blueviolet;
}

.main .content .browser {
      flex: 1;
}

.page-hot-playlist {
      max-width: 850px;
      margin: 0 auto;
}

/* widget source-list start */
.source-list {
      margin: 20px 26px 10px 26px;
}

.source-list .source-button {
      display: inline-block;
      color: var(--link-inactive-color);
      cursor: pointer;
      padding-bottom: 4px;
      font-size: 14px;
}

.source-list .source-button.active,
.source-list .source-button:hover {
      color: var(--link-active-color);
      border-bottom: solid 1px var(--link-active-color);
}

.source-list .splitter {
      display: inline-block;
      background: #a9a9a9;
      margin-top: 1px;
      height: 12px;
      width: 1px;
      margin: 0 10px;
}
.source-list .search-type {
      float: right;
}
/* widget source-list end */

/* widget playlist-filter start */

.playlist-filter {
      line-height: 38px;
      margin: 0 26px 10px 26px;
      background-color: aqua;
}
    
.playlist-filter .filter-item {
      line-height: 20px;
      padding: 5px 15px;
      margin-right: 10px;
}
    
.playlist-filter .filter-item.active {
      font-weight: 600;
      background: var(--button-hover-background-color);
}
    
/* widget playlist-filter end */


/* page hot-playlist start */
.page-hot-playlist {
      max-width: 850px;
      margin: 0 auto;
}
    
.playlist-covers {
      margin: 0;
      padding: 0 13px;
      display: flex;
      flex-flow: row wrap;
      position: relative;
}
    
.playlist-covers li {
      flex: 0 1 calc(20% - 26px);
      min-height: 156px;
      color: var(--text-default-color);
      margin: 0 13px;
}
    
.playlist-covers .u-cover {
      display: flex;
      position: relative;
}
    
.playlist-covers .u-cover img {
      height: 136px;
      min-width: 136px;
      max-width: 100%;
      object-fit: cover;
      margin: auto;
      border: solid 1px var(--line-default-color);
      margin-bottom: 2px;
      cursor: pointer;
}
    
.playlist-covers .u-cover .bottom {
      position: absolute;
      right: 5px;
      bottom: 10px;
      height: 30px;
      width: 30px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s linear;
}
    
.playlist-covers .u-cover:hover .bottom {
      opacity: 1;
}
    
.playlist-covers .u-cover .bottom svg {
      height: 30px;
      width: 30px;
      fill: rgba(200, 200, 200, 0.5);
      stroke-width: 1;
      stroke: #ffffff;
}
    
.playlist-covers .u-cover .bottom svg:hover {
      fill: rgba(100, 100, 100, 0.5);
}
    
.playlist-covers .desc {
      cursor: pointer;
}
    
.playlist-covers .desc .title {
      display: flex;
      min-height: 32px;
      margin: 0 0 5px;
}
/* page hot-playlist end */

.footer {
      height: 60px;
      position: relative;
      background-color: gray;
}